{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">



    <div class="content-container-block about-us-background">
      <div class="horizontal-flex">
        <div class="about-us-text">
          <h2 class="section-heading">What is OSRSQUERY</h2>
          <p class="about-us-paragraph">A modern Runescape platform dedicated to providing the community an environment that anyone can use to gather data. OSRSQuery hosts a variety of projects with tools like Oldschool Runescape Item, NPC, Model, and Object databases. We also have OSRS Sprites, Worldmap, Textures, Music, and Sounds.</p>
        </div>
      </div>
    </div>

    <div class="content-container-block">

      <h2 class="section-heading center">OSRSQUERY features</h2>

      <p class="section-heading-paragraph">A collection of online tools for Old School RuneScape enthusiasts, free to use!</p>

      <div data-delay="4000" data-animation="slide" class="features-slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="features-slider">

        <div class="slider-mask w-slider-mask">

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-shield-cross"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Item Search</h3>

              <p>Search the most up-to-date list of Oldschool Runescape (OSRS) Item ID numbers and Item names. OSRSQuery offers many revisions.</p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-ghost"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">NPC Search</h3>

              <p>Search the most up-to-date list of Oldschool Runescape (OSRS) NPC ID numbers and NPC names. OSRSQuery offers many revisions. </p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-square-dashed"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Model Search</h3>

              <p>Search the most up-to-date list of Oldschool Runescape (OSRS) Model ID numbers and Model names. OSRSQuery offers many revisions. </p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-cube"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Object Search</h3>

              <p>Search the most up-to-date list of Oldschool Runescape (OSRS) Object ID numbers and Object names. OSRSQuery offers many revisions. </p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-earth-europe"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Worldmap</h3>

              <p>An interactive Oldschool Runescape (OSRS) world map with coordinates, regions, and area / path creation. Updated weekly.</p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-database"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Download Data</h3>

              <p>Download the most up-to-date data of Oldschool Runescape (OSRS). You can also download a lot of older revisions of RuneScape.</p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-database"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">Download Data</h3>

              <p>Download the most up-to-date data of Oldschool Runescape (OSRS). You can also download a lot of older revisions of RuneScape.</p>

            </div>

          </div>

          <div class="feature-slide w-slide">

            <div class="feature-icon-block"><i class="fa-duotone fa-location-crosshairs"></i></div>

            <div class="feature-slider-block">

              <h3 class="feature-title">OSRS Sprites

              </h3>

              <p>Search the most up-to-date list of Oldschool Runescape (OSRS) Sprites. Multiple revisions. Ability to make the sprites transparent.</p>

            </div>

          </div>

        </div>

        <div class="left-arrow w-slider-arrow-left">

          <div class="w-icon-slider-left"></div>

        </div>

        <div class="right-arrow w-slider-arrow-right">

          <div class="w-icon-slider-right"></div>

        </div>

        <div class="slide-navigation w-slider-nav w-slider-nav-invert"></div>

      </div>

    </div>

    <div class="content-container-block">

      <h2 class="section-heading center">OSRSQUERY PARTNERS</h2>

      <div class="partners-logo-grid">

        <div class="logo-box">

          <a href="https://runelist.io/rsps-toplist/" class="w-inline-block"><img src="resources/Runelist.png" loading="lazy" alt=""></a>

        </div>

        <div class="logo-box">

          <a href="https://hosthappy.net" class="w-inline-block"><img src="resources/Hosthappy.png" loading="lazy" alt=""></a>

        </div>

        <div class="logo-box">

          <a href="https://fluxious-rsps.com" class="w-inline-block"><img src="resources/Fluxious.png" loading="lazy" alt=""></a>

        </div>

        <div class="logo-box">

          <a href="https://probemas.com" class="w-inline-block"><img src="resources/Probemas.png" loading="lazy" alt=""></a>

        </div>

      </div>

    </div>

  </div>
{% endblock %}

