

{% extends "base.html" %}
{% block title %}Items{% endblock %}


{% block body %}
{% block javascripts %}
  <script src="/scripts/revDropdown.js" type="text/javascript"></script>
{% endblock %}
<div class="container">


  <div class="content-container-block">
    <h2 class="section-heading center">oldschool runescape item id search</h2>
    <p class="section-heading-paragraph">Please use the tools below to download any Oldschool RuneScape data. Select the Revision and the type of data that you would like to download.</p>
    <div class="vertical-flex">
      <div>
        <form id="search-sprite-id" data-name="search-sprite-id">
          <div class="table-form-filters">
            <div class="table-form-filters--left">
              <div class="input-group"><label class="field-label">Display</label><select id="number-of-entries" name="number-of-entries" data-name="number-of-entries" class="select-field w-select">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>

                </select></div>
            </div>

            <div class="table-form-filters--right">
              <div class="input-group" id="locality-dropdown"><label for="number-of-entries-2" class="field-label">Select Revision</label><select id="number-of-entries-2" name="number-of-entries-2" data-name="Number Of Entries 2" class="select-field w-select">
                  <option value="317">317</option>
                  <option value="718">718</option>
                </select></div>
              <div class="input-group ml-20"><label for="field" class="field-label">Search</label><input type="text" class="select-field w-input" maxlength="256" name="field" data-name="Field" placeholder="Enter sprite name" id="field"></div>
            </div>

          </div>
        </form>
      </div>

      
      <div class="table-overflow w-embed">
        <table>

          <thead>
            <tr>
              <th class="sprite-table-id"> ID </th>
              <th class="sprite-table-name"> Name </th>
              <th class="sprite-table-raw-data"> Raw Data </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="sprite-table-id">
                3
              </td>

              <td class="sprite-table-name">
                Dragon Claws
              </td>

              <td class="sprite-table-raw-data">
                <a href="#" class=""><i class="fa-solid fa-up-right-from-square"></i></a>
              </td>

      
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %}

