{% extends "base.html" %}

{% block title %}500 Error{% endblock %}

{% block body %}
<div class="container">
    <div class="content-container-block about-us-background">
      <div class="horizontal-flex">
        <div class="about-us-text">
          <h2 class="section-heading">Oops 500!</h2>
          <p class="about-us-paragraph">Oops, something went wrong.</p>
          <p></p>
          <p class="about-us-paragraph">Try to refresh this page or feel free to contact us if the problem persists. Or you can either return to the previous page, visit our homepage or contact our support team over at our discord.</p>
        </div>

        <div class="quick-links-flex">
          <div class="quick-link-group">
            <div class="quick-link-badge purple">
              <i class="fa-solid fa-house-chimney"></i>
            </div>
            <a href="/" class="quick-link-btn-purple w-button">Homepage</a>
          </div>

          <div class="quick-link-group">
            <div class="quick-link-badge green">
              <i class="fa-brands fa-discord"></i>
            </div>
            <a href="https://discord.gg/Z3GgPdVu9b" class="quick-link-btn w-button">Discord</a>
          </div>

        </div>
      </div>
    </div>
</div>
{% endblock %}
