<div class="footer-section">

    <div class="container">
      <div class="footer-flex-container">
        <div id="w-node-e0b4784e-af33-5480-0a38-43cfbaae3bb3-baae3bb0" class="footer-block">
        
          <a href="" class="w-inline-block"><img src="../resources/osrsquery_logo.png" loading="lazy" alt=""></a> </a>

          <div class="social-media-flex">
            <a href="https://twitter.com/RuneListio" target="_blank" class="social-icon-flex w-inline-block"><img src="../resources/svg/twitter.svg" loading="lazy" alt="" class="social-media-icon"></a>
            <a href="https://discord.gg/" target="_blank" class="social-icon-flex w-inline-block"><img src="../resources/svg/discord.svg" loading="lazy" alt="" class="social-media-icon"></a>
          </div>

        </div>

        <div id="w-node-e0b4784e-af33-5480-0a38-43cfbaae3bc1-baae3bb0" class="footer-about-block">
          <h2 class="footer-heading">What is OSRSQuery?</h2>
          <p>A modern Runescape platform dedicated to providing the community an environment that anyone can use to gather data. OSRSQuery hosts a variety of projects with tools like Oldschool Runescape Item, NPC, Model, and Object databases. We also have OSRS Sprites, Worldmap, Textures, Music, and Sounds.</p>
        </div>

        <div class="footer-nav-block">
          <h2 class="footer-heading">Quick Navigation</h2>
          <ul role="list" class="w-list-unstyled">

            <li>
              <a href="/item-search.php" class="footer-link"><i class="fa-duotone fa-shield-cross"></i> OSRS Items</a>
            </li>

            <li>
              <a href="/npc-search.php" class="footer-link"><i class="fa-duotone fa-ghost"></i> OSRS Npc</a>
            </li>

            <li>
              <a href="/model-search.php" class="footer-link"><i class="fa-duotone fa-square-dashed"></i> OSRS Models</a>
            </li>
            <li>
              <a href="/object-search.php" class="footer-link"><i class="fa-duotone fa-cube"></i> OSRS Objects</a>
            </li>

            <li>
              <a href="/worldmap.php" class="footer-link"><i class="fa-duotone fa-earth-europe"></i> OSRS Worldmap</a>
            </li>

          </ul>
        </div>

        <div class="footer-nav-block">
          <h2 class="footer-heading">Extra Links</h2>
          <ul role="list" class="w-list-unstyled">

            <li>
              <a href="https://runelist.io/" class="footer-link"><i class="fa-duotone fa-list"></i> RuneList</a>
            </li>

            <li>
              <a href="https://fluxious-rsps.com/" class="footer-link"><i class="fa-duotone fa-sword"></i> Fluxious</a>
            </li>

            <li>
              <a href="https://github.com/osrsquery/OsrsQuery" class="footer-link"><i class="fa-brands fa-github"></i> Github</a>
            </li>

            <li>
              <a href="https://probemas.com/" class="footer-link"><i class="fa-duotone fa-coins"></i> Runescape Gold</a>
            </li>

            <li>
              <a href="https://hosthappy.net/" class="footer-link"><i class="fa-duotone fa-server"></i> HostHappy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="cc-flex-horizontal">

        <div>
          <div class="cc-text">Copyright © 2022 OSRSQuery - All rights reserved.</div>
        </div>

        <div class="cc-link-flex">
		  <a href="https://hosthappy.net/" target="_blank" class="cc-link"><i class="fad fa-server"></i> Hosted by HostHappy</a>
          <a href="https://www.runelist.io/" target="_blank" class="cc-link"><i class="fad fa-power-off"></i> Powered by RuneList</a>
          <a href="https://www.gfxdistrict.com/" target="_blank" class="cc-link"><i class="fad fa-paint-brush"></i> Design by GFXDistrict</a>
        </div>

      </div>
    </div>
  </div>