<div class="sep"></div>
<div class="nav-button">
    <a href="#" class="donate-btn w-button"><i class="fa-brands fa-paypal me-1"></i></a>
</div>
<div class="nav-button">
    <a href="https://discord.gg/Z3GgPdVu9b" target="_blank" class="discord-btn w-button"><i class="fa-brands fa-discord me-1"></i></a>
</div>
<div class="nav-button">
    <a href="https://github.com/osrsquery" target="_blank" class="github-btn w-button"><i class="fa-brands fa-github"></i></a>
</div>
<div class="nav-button">
    <a target="_blank" class="status-btn w-button"><i class="fa fa-heartbeat" aria-hidden="true"></i></a>
</div>
<div class="menu-btn w-nav-button">
    <div class="w-icon-nav-menu"></div>
</div>