
   

    <div data-hover="true" data-delay="0" class="nav-list-menu w-dropdown">
                
        <div class="drop-list-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
                <div>Browse Tools</div>
        </div>


        <nav class="drop-list-menu w-dropdown-list">
            <a href="https://osrsquery.com/download-data.php" class="navigation-link w-inline-block">
                <div class="nav-icon"> <i class="fa-solid fa-database"></i></div> <div>Download Data</div>
            </a>

            <a href="https://osrsquery.com/item-search.php" class="navigation-link w-inline-block">
                <div class="nav-icon"><i class="fa-solid fa-shield-cross"></i></div> <div>Item Database</div>
            </a>

            <a href="https://osrsquery.com/npc-search.php" class="navigation-link w-inline-block">
                <div class="nav-icon"> <i class="fa-solid fa-ghost"></i> </div>  <div>Npc Database</div>
            </a>

            <a href="https://osrsquery.com/model-search.php" class="navigation-link w-inline-block">
                <div class="nav-icon"> <i class="fa-solid fa-square-dashed"></i></div> <div>Model Database</div>
            </a>

            <a href="https://osrsquery.com/object-search.php" class="navigation-link w-inline-block">
                <div class="nav-icon"><i class="fa-solid fa-cube"></i></div> <div>Object Database</div>
            </a>

            <div data-hover="true" data-delay="0" class="navigation-link w-dropdown">
                <div class="nav-dropdown-option w-dropdown-toggle">
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                <div class="nav-icon">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div>More Tools</div>
            </div>

            <nav class="nav-dropdown-menu w-dropdown-list">
                <a href="https://osrsquery.com/sprites.php"class="nav-dropdown-menu-item w-dropdown-link">Sprites</a>
                <a href="https://osrsquery.com/worldmap.php" class="nav-dropdown-menu-item w-dropdown-link">Worldmap</a>
                <a href="https://osrsquery.com/textures.php"class="nav-dropdown-menu-item w-dropdown-link">Textures</a>
                <a href="https://osrsquery.com/music.php" class="nav-dropdown-menu-item w-dropdown-link">Music</a>
                <a href="https://osrsquery.com/sounds.php" class="nav-dropdown-menu-item w-dropdown-link">Sounds</a>
            </nav>

        </nav>
    </div>

    <div data-hover="true" data-delay="0" class="nav-list-menu w-dropdown">
        <div class="drop-list-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Browse API</div>
        </div>

        <nav class="drop-list-menu w-dropdown-list">

            <a href="https://osrsquery.com/item-search-api.php" class="navigation-link w-inline-block">
                <div class="nav-icon">
                <i class="fa-duotone fa-gear"></i></div> <div>Item Database</div>
            </a>

            <a href="https://osrsquery.com/npc-search-api.php" class="navigation-link w-inline-block">
                <div class="nav-icon">
                <i class="fa-duotone fa-gear"></i></div> <div>Npc Database</div>
            </a>

            <a href="https://osrsquery.com/model-search-api.php" class="navigation-link w-inline-block">
                <div class="nav-icon">
                <i class="fa-duotone fa-gear"></i></div> <div>Model Database</div>
            </a>

            <a href="https://osrsquery.com/object-search-api.php" class="navigation-link w-inline-block">
                <div class="nav-icon">
                <i class="fa-duotone fa-gear"></i></div> <div>Object Database</div>
            </a>

            <div data-hover="true" data-delay="0" class="navigation-link w-dropdown">

                <div class="nav-dropdown-option w-dropdown-toggle">
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                <div class="nav-icon">
                    <i class="fa-solid fa-ellipsis"></i></div> <div>Cache APIs</div>
                </div>

                <nav class="nav-dropdown-menu w-dropdown-list">

                    <a href="https://osrsquery.com/sprites-api.php" class="nav-dropdown-menu-item w-dropdown-link">Sprites</a>
                    <a href="https://osrsquery.com/worldmap-api.php" class="nav-dropdown-menu-item w-dropdown-link">Worldmap</a>
                    <a href="https://osrsquery.com/textures-api.php" class="nav-dropdown-menu-item w-dropdown-link">Textures</a>
                    <a href="https://osrsquery.com/music-api.php" class="nav-dropdown-menu-item w-dropdown-link">Music</a>
                    <a href="https://osrsquery.com/sounds-api.php" class="nav-dropdown-menu-item w-dropdown-link">Sounds</a>

                </nav>
            </div>

        </nav>
    </div>
</div>
